@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
    background-color: rgb(78, 176, 206);
}

section{
    width: 900px;
    height: 600px;
    background-color: azure;
}

header{
    height: 50px;
    padding: 1rem 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid lightslategray; */
    box-shadow: 3px 0 6px rgba(0,0,0,.5);
}

header .left-side{
    display: flex;
    align-items: center;
}
header .left-side i{
    margin-right: 1rem;
    color: gray;
}

header .left-side .top-title .bt-sect{
    display: flex;
    align-items: center;
    color: gray;
}

header .left-side .title .bt-sect span{
    margin-left: .2rem;
}

/* right side */
header .right-side {
    display: inline-flex;
    align-items: center;
}

header .right-side .last{
    display: inline-flex;
    align-items: center;
}

header .right-side >h6{
    margin-right: 1rem;
    cursor: pointer;
}
header .right-side .last>h5{
    cursor: pointer;
}


/* main window */
section .tabs-window{
    width: 100%;
    margin: 1rem  auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(241, 244, 247); 
}

section .tabs-window .left-tab{
    flex-basis: 25%;
    height: 455px;
    padding: 1rem;
}

section .tabs-window .left-tab .top-section{
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .tabs-window .left-tab .top-section .fa-plus{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(241, 240, 240);
    background-color: rgb(65, 102, 158);
    cursor: pointer;
    margin-right: .5rem;
}

section .tabs-window .left-tab .top-section .fa-search{
    color: gray;
    cursor: pointer;
}

section .tabs-window .left-tab .bt-section{
    margin-top: 3rem;
}
section .tabs-window .left-tab .bt-section .cards{
    width: 100%;
}

section .tabs-window .left-tab .bt-section .head{
    border-radius: 2px;
    margin: 1rem 0;
    padding: .5rem 2rem;
    cursor: pointer; 
    transition: all 300ms ease;
}

section .tabs-window .bt-section .head.show{
    background-color: rgb(65, 102, 158);
}
section .tabs-window .bt-section .head .txt{
    color: azure;
}

section .tabs-window .left-tab .bt-section .head h5{
    font-size: 1.2rem;
    color: rgb(58, 58, 58);
}
section .tabs-window .left-tab .bt-section .head span{
    font-size: .8rem;
    color: rgb(124, 124, 124);
}

/* tab window right section */
section .tabs-window .right-tab{
    width: 100%;
    height: 450px;
    padding: 2rem;
    overflow-y: hidden;
}
section .tabs-window .right-tab .container{
    display: block;
    padding-bottom: 10rem;
}

section .tabs-window  .right-tab .top-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
section .tabs-window .right-tab .top-heading h1{
    margin-bottom: 2rem;
    cursor: pointer;
}

section .tabs-window .right-tab .bt-section p{
    font-size: 1.3rem;
}


